/* 

background-image: url("/images/vintage-map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;

  color-scheme: light dark;
  color: #000000;
  background-color: #f5f5dc;

------------


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#search-bar {
  background: #ffffff;
  color: #333333;
  min-width: 20%;
  padding: 10px;
  text-align: center;
  border: solid 2px #8a4b40;

  border-radius: 18px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}







.flag-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
