@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: url("/images/vintage-map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
}

/* .navbar-item {
  justify-content: space-between;
} */

body {
  padding-top: 3.25rem;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#search-bar {
  margin: 0 auto;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
link:hover {
  color: #535bf2;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
